:root {
    --box-bg: #fff;
    --input-bg: #f5f8ff;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: var(--input-bg);
    padding: 8px 16px;
    border: 1px solid var(--color-veryLight-blue);
    border-radius: 12px;
}

.container img {
    width: 30px;
    margin-right: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    white-space:nowrap; 
    text-overflow:ellipsis; 
    width:100%; 
    cursor: pointer;
}

.info a {
    margin: 0;
    line-height: 14px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
}

.info a:hover {
    color: var(--color-dark-gray)
}

.delBtn {
    background-color: var(--box-bg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container:hover .delBtn {
    opacity: 1;
}