# package directories
serverless-students-management-rest-api/node_modules
serverless-students-management-rest-api/jspm_packages
serverless-students-management-rest-api/package-lock.json

# Serverless directories
serverless-students-management-rest-api/.serverless